{% extends "../layouts/default.twig" %}

{% block intro %}
	<div class="container">
		<h1>Google Charts Demo</h1>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div id="pie-chart" class="col-md-4"></div>
			<div id="gantt-chart" class="col-md-8"></div>
		</div>
	</div>
{% endblock %}

{% block js %}

	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">

		// Load the Visualization API and the corechart package.
		google.charts.load('current', {'packages':['corechart', 'gantt']});

		// Set a callback to run when the Google Visualization API is loaded.
		google.charts.setOnLoadCallback(drawPieChart);
		google.charts.setOnLoadCallback(drawGanttChart);

		function drawPieChart() {
			// Create the data table.
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Topping');
			data.addColumn('number', 'Slices');
			data.addRows([
				['Mushrooms', 3],
				['Onions', 1],
				['Olives', 1],
				['Zucchini', 1],
				['Pepperoni', 2]
			]);
			var options = {'title':'How Much Pizza I Ate Last Night',
										 'width':400,
										 'height':300};
			var chart = new google.visualization.PieChart(document.getElementById('pie-chart'));
			chart.draw(data, options);
		}

		// draw Gantt chart
    function drawGanttChart() {
			function daysToMilliseconds(days) {
		    return days * 24 * 60 * 60 * 1000;
		  }
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');
      data.addRows([
        ['Research', 'Find sources',
         new Date(2015, 0, 1), new Date(2015, 0, 5), null,  100,  null],
        ['Write', 'Write paper',
         null, new Date(2015, 0, 9), daysToMilliseconds(3), 25, 'Research,Outline'],
        ['Cite', 'Create bibliography',
         null, new Date(2015, 0, 7), daysToMilliseconds(1), 20, 'Research'],
        ['Complete', 'Hand in paper',
         null, new Date(2015, 0, 10), daysToMilliseconds(1), 0, 'Cite,Write'],
        ['Outline', 'Outline paper',
         null, new Date(2015, 0, 6), daysToMilliseconds(1), 100, 'Research']
      ]);
      var options = {
        height: 275
      };
      var chart = new google.visualization.Gantt(document.getElementById('gantt-chart'));
      chart.draw(data, options);
    }

	</script>

{% endblock %}
